
services:
  fib-node: 
    build:
      context: ./fib-node 
      dockerfile: Dockerfile-dev
    volumes:
      - ./fib-node/app.js:/usr/src/app/app.js
    ports:
      - "8081-8082:8080"  
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          memory: 128m
        reservations:
          memory: 128m
      restart_policy:
        condition: on-failure
    environment:
      RUNTIME: NODJS  
  fib-go:
    build: 
      context: ./fib-go  
      dockerfile: Dockerfile-dev
    volumes: 
      - ./fib-go:/app
    ports:
      - "8083-8084:8080"   
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          memory: 128m
        reservations:
          memory: 128m
      restart_policy:
        condition: on-failure
    environment:
      RUNTIME: GOLANG
  fib-rust:
    build: 
      context: ./fib-rust 
      dockerfile: Dockerfile-dev  
    ports:
      - "8085-8088:8000"   
    deploy:
      mode: replicated
      replicas: 4
      resources:
        limits:
          memory: 128m
        reservations:
          memory: 128m
      restart_policy:
        condition: on-failure
    volumes:
      - ./fib-rust/html:/app/data   
    environment:
      RUNTIME: RUST 

  nginx:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8089:8080"    
    depends_on:
      - haproxy 
    deploy:
      resources:
        limits:
          memory: 128m
        reservations:
          memory: 128m
      restart_policy:
        condition: on-failure
    volumes:
      - ./frontend/html:/usr/share/nginx/html
      - ./frontend/local:/etc/nginx/conf.d  
  haproxy: 
    build: 
      context: ./haproxy
      dockerfile: Dockerfile.local
    deploy:
      resources:
        limits:
          memory: 128m
        reservations:
          memory: 128m
      restart_policy:
        condition: on-failure
    depends_on:
      - fib-go
      - fib-node
      - fib-rust 
    ports:
      - "8888:8080"     

 
  